include LICENSE
include requirements.txt
include qsteed/config/config.ini
include qsteed/VERSION.txt

# Include the tests files.
include tests/*.py
include tests/*.json

# Include cpp source code & Cmakefile
recursive-include qsteedcpp *.cpp *.hpp *.h
recursive-include cmake *.cmake
include CMakeLists.txt